/mtil/data/
/mtil/ckpt/
/mtil/logs/
/mtil/src/__pycache__/
/mtil/src/datasets/__pycache__/
/mtil/src/models/__pycache__/
/mtil/src/templates/__pycache__/
/mtil/thesis_results/
/myenv/
/zscl_env/
/mtil/src/ui/
mtil/clip/__pycache__/
**/__pycache__/
__pycache__/
/jobs/
/mtil/clip/__pycache__/